
.icon-heart:before { content: '\f914'; } /* '樂' */
.icon-heart-empty:before { content: '\f915'; } /* '洛' */
.icon-star:before { content: '\f916'; } /* '烙' */
.icon-star-empty:before { content: '\f917'; } /* '珞' */
.icon-user:before { content: '\f918'; } /* '落' */
.icon-user-plus:before { content: '\f919'; } /* '酪' */
.icon-user-times:before { content: '\f91a'; } /* '駱' */
.icon-users:before { content: '\f91b'; } /* '亂' */
.icon-male:before { content: '\f91c'; } /* '卵' */
.icon-female:before { content: '\f91d'; } /* '欄' */
.icon-picture:before { content: '\f91e'; } /* '爛' */
.icon-th-large:before { content: '\f91f'; } /* '蘭' */
.icon-th:before { content: '\f920'; } /* '鸞' */
.icon-th-list:before { content: '\f921'; } /* '嵐' */
.icon-mail-alt:before { content: '\f922'; } /* '濫' */
.icon-home:before { content: '\f923'; } /* '藍' */
.icon-qrcode:before { content: '\f924'; } /* '襤' */
.icon-off:before { content: '\f925'; } /* '拉' */
.icon-yen:before { content: '\f926'; } /* '臘' */
.icon-basket:before { content: '\f927'; } /* '蠟' */
.icon-cart-plus:before { content: '\f928'; } /* '廊' */
.icon-chart-bar:before { content: '\f929'; } /* '朗' */
.icon-chart-line:before { content: '\f92a'; } /* '浪' */
.icon-chart-pie:before { content: '\f92b'; } /* '狼' */
.icon-whatsapp:before { content: '\f92c'; } /* '郎' */
.icon-comment:before { content: '\f92d'; } /* '來' */
.icon-chat:before { content: '\f92e'; } /* '冷' */
.icon-paper-plane:before { content: '\f92f'; } /* '勞' */
.icon-wechat:before { content: '\f930'; } /* '擄' */
.icon-qq:before { content: '\f931'; } /* '櫓' */
.icon-address-card:before { content: '\f932'; } /* '爐' */
.icon-thumbs-up:before { content: '\f933'; } /* '盧' */
.icon-thumbs-down-alt:before { content: '\f934'; } /* '老' */
.icon-calendar:before { content: '\f935'; } /* '蘆' */
.icon-login:before { content: '\f936'; } /* '虜' */
.icon-logout:before { content: '\f937'; } /* '路' */
.icon-phone:before { content: '\f938'; } /* '露' */
.icon-cog:before { content: '\f939'; } /* '魯' */
.icon-sliders:before { content: '\f93a'; } /* '鷺' */
.icon-commenting:before { content: '\f93b'; } /* '碌' */
.icon-share:before { content: '\f93c'; } /* '祿' */
.icon-ellipsis-vert:before { content: '\f93d'; } /* '綠' */
.icon-mobile:before { content: '\f93e'; } /* '菉' */
.icon-monitor:before { content: '\f93f'; } /* '錄' */
.icon-credit-card-alt:before { content: '\f940'; } /* '鹿' */
.icon-location:before { content: '\f941'; } /* '論' */
.icon-direction:before { content: '\f942'; } /* '壟' */
.icon-user-circle:before { content: '\f943'; } /* '弄' */
.icon-videocam:before { content: '\f944'; } /* '籠' */
.icon-leaf:before { content: '\f945'; } /* '聾' */
.icon-map:before { content: '\f946'; } /* '牢' */
.icon-aperture-alt:before { content: '\f947'; } /* '磊' */
.icon-award:before { content: '\f948'; } /* '賂' */
.icon-flag:before { content: '\f949'; } /* '雷' */
.icon-gift:before { content: '\f94a'; } /* '壘' */
.icon-fire:before { content: '\f94b'; } /* '屢' */
.icon-bell-alt:before { content: '\f94c'; } /* '樓' */
.icon-edit:before { content: '\f94d'; } /* '淚' */
.icon-download:before { content: '\f94e'; } /* '漏' */
.icon-upload:before { content: '\f94f'; } /* '累' */
.icon-list-alt:before { content: '\f950'; } /* '縷' */
.icon-feather:before { content: '\f951'; } /* '陋' */
.icon-commenting-o:before { content: '\f952'; } /* '勒' */
.icon-camera:before { content: '\f953'; } /* '肋' */
.icon-filter:before { content: '\f954'; } /* '凜' */
.icon-archive:before { content: '\f955'; } /* '凌' */
.icon-trash:before { content: '\f956'; } /* '稜' */
.icon-box:before { content: '\f957'; } /* '綾' */